<connectionStrings>
  <!-- LOCAL  -->
    <add name="ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=sw49;user id=;password=;initial catalog=popl;Persist Security Info=true" />
  

  <!-- ORACLE na CWN2012 
    <add name="ConnectionString" 
                    connectionString="XpoProvider=PoplOracle;Data Source=CWN2012ORATEST;User ID=;Password=" />
  --> 


  <!-- verejne testovaci prostredi 
    <add name="ConnectionString" 
       connectionString="XpoProvider=PoplOracle;Data Source=PoplWS;User ID=;Password=" />
-->

</connectionStrings>
